@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:wght@100..900&display=swap');
* {
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,span{
    color: #242424;
    text-align: center;
    line-height: 1.25;
}

h1{
    font-size: 36px;
}

p{
    line-height: 1.5;
    font-size: 16px;
}

li{
    list-style-type: none;
}


.flex{
    display: flex;
}
.flex-1{
    flex: 1;
}

.row{
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.container{
    padding: 50px 0;
}

section:nth-child(even){
    background-color: #f8f8f8;
    margin-bottom: 20px;
}

/*NAVIGATION BAR*/
nav{
    height: 100px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__link--list{
    display: flex;

}

.nav__link--anchor{
    margin: 0 12px;
    color: black;
    text-decoration: none;
    font-weight: 700;
}

.nav__link--anchor-primary {
    background-color: #add8e6;
    padding: 8px 20px;
    border-radius: 50px;
    color: white;
    transition: all 300ms ease;
}

.nav__link--anchor-primary:hover{
    background-color: #87ceeb;
    transition: 0.3s;
}

.personal__logo{
    font-size: 20px;
    color: #add8e6;
    margin: 0 12px;
    font-weight: bold;
}

#about--me{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


.about-me__info{
    display: flex;
    flex-direction: column;
}
.about-me__info--container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}

.about-me__picture{
    width: 100%;
      transform: scale(1.2);
      padding-top: 8px;
}
.about-me__picture--mask{
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 24px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 1);
    margin-bottom: 28px;
}

.about-me__info--title{
    margin-bottom: 16px;
}

.about-me__info--para{
    font-size: 20px;
    line-height: 1.5;
margin-bottom: 28px
}

.about-me__link{
    font-size: 20px;
    color: #242424;
    text-decoration: none;
    padding: 0 16px;
}

.about-me__img--container{
    flex: 1;
    display: flex;
    align-items: center;
}

.about-me__img{
    width: 100%;
    padding-top: 36px;
}

.language__img{
    width: 100%;
    max-width: 100px;
}

.language{
    width: 25%;
}

.language__img--wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 16px;
}

.language__list{
    display: flex;
    width:100%;
    flex-wrap: wrap;

}